.brand-logo img {
    height: 2em;
    margin-left: 10px;
}

.right-graphic {
    width: 40%;
    float: right;
    margin: 15px;
}

.left-graphic {
    width: 40%;
    float: left;
    margin: 15px;

}

h1,h2 {
    clear: both;
}

html {
	scroll-behavior: smooth;
}
@media only screen and (max-width: 600px) {
    .right-graphic {
        width: 100%;
        margin: 0;
    }
    .left-graphic {
        width: 100%;
        margin: 0;
    }
  }